iframe {
    height: 600px;
    width: 1500px;
    padding: 10px;
    background-color: #FF5700;
    border-style: none;
    border-radius: 5px;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}